<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/../../public/assets/styles/main.css" type="text/css" />
		<title>Story Collaboration beta</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
