

 <div id="container" style="left: 0px;">
        <section id="content">
            <header>

                <div id="preamble" class="home">
                    <div class="preamble">
                        <h1>
                            Chicken Scratch</h1>
                        <p class="em" style="display: none;">
                            Create...Collaborate...Enjoy
                            <br> Chicken Scratch was created as a place where everyone can contribute to a story. <br> Take a look around and let creativity strike!</p>
                        <a class="read-more" href="#">Read more +</a></div>
                    <p>
                    </p>

                </div>
            </header>
            <div id="blurb">
                <ul>
                    <li>
                        <!--A way to link the existing cover art, if any {{ art? }}-->
                        <a href=""><img src="" alt="">

                            <div class="overlay">
                                <summary>
                                    <h2>{{stories.title}}</h2>
                                    <h3>{{stories.blurb}}</h3>
                                </summary>
                                <div class="contributionCount"><span>Contributions</span></div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </section>

        <footer id="ftr">
            <div class="wrapper">
                <ul id="social">
                    <li>
                        <a href="#">Twitter.</a>
                    </li>
                    <li>
                        <a href="#">Facebook.</a>
                    </li>

                </ul>

                <div id="team">
                    <span>Frantic Chickens <br>2017
                    </span>
                </div>

            </div>
            <!-- wrapper -->
        </footer>
        <!-- footer -->
    </div>
    <!-- container -->

    <script src="ajax/jquery-1.11.0.min.js"></script>
    <script src="site.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            ReadMore.init();
        })
    </script>