
     <div id="container">
        <section id="content">

            <div id="contribution">
                <header>
                    <div id="home">
                        <a href="/views/index.handlebars">
                            HOME
                        </a>
                    </div>

                    <div id="preamble">

                        <h1> {{stories.title}} </h1>
                        <p class="em" style="color:#fff;"> {{stories.blurb}} </p>
                    </div>
                </header>


                <section id="yourTurn">
                    <article>
                        <h2>Now its your turn...</h2>
                        <p></p>

                        <a href="/views/contribution.handlebars">Continue the story</a>
                        <a href="/views/art.handlebars">Add your art</a>


                    </article>
                </section>
            </div>



            <footer id="ftr">
                <div class="wrapper">
                    <ul id="social">
                        <li>
                            <a href="#">Twitter.</a>
                        </li>
                        <li>
                            <a href="#">Facebook.</a>
                        </li>

                    </ul>

                    <div id="team">
                        <span>Frantic Chickens <br>2017
                    </span>
                    </div>

                </div>
                <!-- wrapper -->
            </footer>
            <!-- footer -->
    </div>
    <!-- container -->