    .fade.in #contributeModal #artModal {
        background-image: url(../media/1.jpg);
        padding: 200px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        position: absolute;
        top: -200px;
        left: -200px;
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-position: center center;
    }
    
    body {
        background-color: #2B2C30;
        font-family: 'Quicksand', sans-serif;
        line-height: 1.5;
    }
    
    h1,
    h2,
    h3 {
        text-align: center;
        color: #ddd;
    }
    
    .container {
        color: white;
    }
    
    .contribution_wrapper {
        background-color: #2B2C30;
        padding: 40px;
    }
    
    .coverArt {
        width: 50%;
    }
    
    #home {
        background-image: url(../media/1.jpg);
        padding: 200px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        position: absolute;
        top: -200px;
        left: -200px;
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-position: center center;
    }
    
    .modal-content {
        background-color: lightgray;
    }
    
    .jumbotron {
        background-image: url(../media/5.jpeg);
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-position: center center;
    }
    /*index styling*/
    
    .story-panel {
        color: #2B2C30;
        font-family: 'Quicksand', sans-serif;
        line-height: 1.5;
        text-align: center;
    }
    
    .slogan {
        text-align: center;
        color: #2B2C30;
    }
    
    .btn {
        background-color: #2B2C30;
        color: #ddd;
    }
    
    #title {
        color: grey;
    }
    
    #story_blurb {
        font-size: 25px;
    }
    
    .panel-footer {
        font-size: 16px;
        background-color: #2B2C30;
        color: #ddd;
    }
    
    #story_text {
        background-color: white;
        color: black;
        padding: 22px;
    }
    
    #submitArt {
        float: right;
        clear: both;
        margin-top: 50px;
        align-content: center;
    }