.fade.in {
    background-color: rgba(0, 0 , 0, .6);
}

h1, h2, h3 {
    text-align: center;
}

.contribution_wrapper {
    background-color: lightslategray;
    padding: 40px;
}
.coverart {
    width: 100%;
}